.container {
    width: 1030px;
    margin-right: auto;
    margin-left: auto;
}

.background {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding-top: 46px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
}

.header-logo-link {
    display: flex;
}

.header-logo:hover .logo-title{
    color: #F26522;
}

.header-img {
    background-image: url("../img/header-logo.svg");
    margin-right: 8px;
    width: 53px;
    height: 47px;
}

.header-logo:hover .header-img {
    background-image: url("../img/header-logo-hover.svg");
}

.logo-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.title-second {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 18px;

}

.header-email {
    display: inline-block;
    margin-bottom: 19px;
    color: #FFFFFF;
}

.header-tel{
    color: #FFFFFF;
}

.header-email:hover {
    color: #F26522;
}

.header-tel:hover {
    color: #F26522;
}

.catalog {
    margin-top: 22px;
    margin-bottom: 49px;
}

.catalog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 261px 261px;
    grid-row-gap: 37px;
    grid-column-gap: 30px;
}

.catalog-block-1 {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
}
.catalog-block-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.catalog-block-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.catalog-block-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.catalog-block-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.catalog-block-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}


.catalog-item-1 {
    background-image: url("../img/holiday-1.png");
    width: 300px;
    height: 220px;
    position: relative;
}
.catalog-item-2 {
    background-image: url("../img/holiday-2.png");
    width: 300px;
    height: 220px;
    position: relative;
}
.catalog-item-3 {
    background-image: url("../img/holiday-3.png");
    width: 300px;
    height: 220px;
    position: relative;
}
.catalog-item-4 {
    background-image: url("../img/holiday-4.png");
    width: 300px;
    height: 220px;
    position: relative;
}
.catalog-item-5 {
    background-image: url("../img/holiday-5.png");
    width: 300px;
    height: 220px;
    position: relative;
}
.catalog-item-6 {
    background-image: url("../img/holiday-6.png");
    width: 300px;
    height: 220px;
    position: relative;
}

.cover-table-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px 14px 12px 16px;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    position: absolute;
    bottom: 0;
    visibility: hidden;
}

.catalog-block-1:hover .cover-table-1 {
    color: #F26522;
    visibility: visible;
}
.catalog-block-2:hover .cover-table-1 {
    visibility: visible;
}
.catalog-block-3:hover .cover-table-1 {
    visibility: visible;
}
.catalog-block-4:hover .cover-table-1 {
    visibility: visible;
}
.catalog-block-5:hover .cover-table-1 {
    visibility: visible;
}
.catalog-block-6:hover .cover-table-1 {
    visibility: visible;
}

.catalog-block-1:hover .catalog-item-text {
    color: #F26522;
}
.catalog-block-2:hover .catalog-item-text {
    color: #F26522;
}
.catalog-block-3:hover .catalog-item-text {
     color: #F26522;
}
.catalog-block-4:hover .catalog-item-text {
    color: #F26522;
}
.catalog-block-5:hover .catalog-item-text {
    color: #F26522;
}
.catalog-block-6:hover .catalog-item-text {
    color: #F26522;
}




.text-price {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
}

.text-price-1 {
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 10px;
}

.text-details {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    display: inline-block;
    text-align: left;
    width: 100px;
    position: relative;
}

.text-details::after {
    content: '';
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 7px;
    height: 12px;
    margin-left: 16px;
    position: absolute;
    top: 0;
    right: 0;
}

.tour-name {
    width: 300px;
    padding-top: 20px;
    text-align: center;
}

.catalog-item-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
    display: inline-block;
}

.footer {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}