@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.page-body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #000000;
    display: inline-block;
    margin-bottom: 38px;
    margin-top: 63px;
}

.part {
    color: deepskyblue;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
}

.header-menu-item {
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 26px 33px 20px 32px;
}

.header-menu-link {
    color: white;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 20px;
    gap: 52px;
}


.menu-list {
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    width: 344px;
}

.menu-list-item {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    height: 81px;
    display: flex;
    align-items: center;
    padding-left: 44px;
}

.menu-list-link {
    color: #485863;
}

.main-info-icon{
    width: 320px;
    height: 381px;
}

.border {
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

.main-info-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
    width: 885px;
}

.footer-block {
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    margin-bottom: 30px;
}

.footer-menu {
    display: flex;
    align-items: center;
    margin-right: 82px;
}

.footer-menu-item {
    padding-right: 40px;
    font-size: 28px;
    line-height: 28px;
}

.footer-menu-link {
    color: #0C1927;
}

.footer-copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}