* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container  {
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
    color: white;

}
.navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navbar-logo-icon {
    margin: 20px 20px 20px 20px;
}

.navbar-logo-text {
    margin: 20px 3px 20px 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
}

.navbar-menu-items {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 20px;

}
.navbar-menu-item {
    display: flex;

}

.navbar-search {
    background-color: black;
    padding: 27px 27px 27px 27px;
}
.title {
    display: flex;
    background: #000000 url("../img/header-bg.jpeg") no-repeat center;
;
}

.title-info {

    margin: 164px 600px 74px 600px;

}

.title-info-name {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.title-info-text {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    width: 70%;
}

.title-info-buttons {
    display: flex;
    justify-content: center;
}

.title-info-button1 {
    text-align: center;
    padding: 16px 19px 16px 19px;
    background-color: greenyellow;
    font-size: 18px;
    line-height: 25px;
    color: white;
}
.title-info-button2 {
    text-align: center;
    padding: 16px 19px 16px 19px;
    background-color: deepskyblue;
    font-size: 18px;
    line-height: 25px;
    color: white;
}