.cart{
  &__title {
    color: #f5f6f6;
  }
}
.price-counter{
  color: #f5f6f6;
  font-size: 20px;
}
.no-items{
  text-align: center;
  color: #f5f6f6;
  font-size: 40px;
}
.order-info{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 25px;
}
.order-btn{
  cursor: pointer;
  color: #f5f6f6;
  border-radius: 5px;
  border: 1px solid #f35834;
  padding: 2.5px 5px;
  background-color: #f35834;
}
.order-btn:hover{
  color: #282c34;
  transition: 0.4s;
}
