.container{
    display: flex;
    align-items: center;
}

.input{
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.input:focus{
    outline: 1px solid green;
    /*outline-color: green;*/
}

.list-item-text{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.remove-button {
    display: inline-block;
    border: 1px solid black;
    padding: 4px;
    height: 70%;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;

}