.container {
    width: 1160px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-bg {
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-position: center;
    width: 100%;
    height: 1012px;
}

.header-logo{

}

.innerLogo{
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}

.logo-text {
    color: #18CFAB;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text-secondary{
    color: white;
    font-size: 30px;
}

.navBackground{
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
}

.header-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-list-item{
    margin-right: 21px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.header-list-link {
    color: rgba(255, 255, 255, 0.6);
}

.header-list-link:hover{
    color: #18CFAB;
    padding-bottom: 48px;
    border-bottom: 2px solid #18CFAB;
}

.title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 264px;
    margin-bottom: 243px;
}

.title-block-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main-title {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-main-title-green{
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #18CFAB;
}

.header-main-text{
    margin-bottom: 22px;
    margin-top: 22px;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-main-afterText{
    font-size: 34px;
    color: #D4D4D4;
}

.header-buttons-block {
    margin-top: 44px;
    margin-bottom: 74px;
}

.btn {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    min-width: 168px;
    min-height: 63px;
    margin-right: 20px;
    padding: 16px;
    text-transform: uppercase;
}

.button-primary {
    border-top: 5px solid white;
    background: #18CFAB;
}

.button-secondary{
    border-top: 5px solid white;
    background: #00CBF6;
}

.list-opportunity{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    height: 377px;
    width: 100%;
}

.list-opportunity-primary{
    background: #1C2A33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 377px;
    width: 25%;
}

.list-opportunity-secondary{
    background: #18CFAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 377px;
    width: 25%;
}

.opportunity-text-primary{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 52px;
}

.opportunity-text-secondary{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 52px;
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-service{
    margin-top: 83px;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}

.smallLine-1{
    border-bottom: 1px solid #18CFAB;
    width: 79px;
    margin-bottom: 4px;
    margin-right: 10px;
}

.smallLine-2{
    border-bottom: 1px solid #18CFAB;
    width: 79px;
    margin-bottom: 69px;
    margin-left: 10px;
}

.tabs {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.centered-content {
    margin-bottom: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-photo{
    margin-right: 15px;
}

.tab-text{
    font-size: 13px;
    line-height: 24px;
    align-items: center;
    color: #777777;
}

.tabs {
    display: flex;
    margin-bottom: 28px;
}

.tab-flex{
    display: flex;
}

.tabs-title {
    position: relative;
    padding: 17px 34px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    color: #717171;
    cursor: pointer;
}
/*.triangle{*/
/*    position: absolute;*/
/*    bottom: -10px;*/
/*    left: 50%;*/
/*    border: 20px solid transparent;*/
/*    border-top: 20px solid green;*/
/*}*/
.tabs-title:hover{
    border: 1.5px solid #18CFAB;
}

.tabs-title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.tabs-title.active::after{
    content: ' ';
    position: absolute;
    bottom: -30px;
    left: 38%;
    border: 15px solid transparent;
    border-top: 15px solid #18CFAB;

}

.tabs-content li {
    display: none;
}

.tabs-content li.active {
    display: block;
}

.buy-bg{
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../img/Sections background/section-2.jpg");
    background-position: center;
    width: 100%;
    height: 476px;
}

.buy-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy-title{
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 126px;
    margin-bottom: 12px;
}

.buy-text{
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 62px;
}

.works-bg{
    background: #E9EDEF;
}

.works-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-block-text{
    margin-top: 96px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.line-retreat-works-block{
    margin-bottom: 69px;
}

.works-list{
    margin-bottom: 71px;
}

.works-list-items{
    display: flex;
    align-items: center;
}

.works-list-item{
    padding: 15px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    color: #717171;
    font-size: 14px;
    line-height: 31px;
}

.works-firstItem{
    padding: 14px 27px;
}

.works-list-item:hover{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.photos-list{
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    margin-bottom: 70px;
}

.cover-table-text-1{
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.cover-table-text-2{
    margin-top: 10px;
    margin-bottom: 33px;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.cover-table-icon{
    margin-top: 42px;
    margin-bottom: 24px;
}

.catalog-item-1 {
    background-image: url("../img/graphic design/graphic-design1.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}

.catalog-item-2 {
    background-image: url("../img/graphic design/graphic-design2.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-3 {
    background-image: url("../img/graphic design/graphic-design3.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-4 {
    background-image: url("../img/graphic design/graphic-design4.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-5 {
    background-image: url("../img/graphic design/graphic-design5.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-6 {
    background-image: url("../img/graphic design/graphic-design6.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-7 {
    background-image: url("../img/graphic design/graphic-design7.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-8 {
    background-image: url("../img/graphic design/graphic-design8.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-9 {
    background-image: url("../img/graphic design/graphic-design9.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-10 {
    background-image: url("../img/graphic design/graphic-design10.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-11 {
    background-image: url("../img/graphic design/graphic-design11.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-12 {
    background-image: url("../img/graphic design/graphic-design12.jpg");
    width: 285px;
    height: 211px;
    position: relative;
}
.catalog-item-13 {
    background-image: url("../img/graphic design/deku.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.catalog-item-14 {
    background-image: url("../img/graphic design/rengoku.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;

}
.catalog-item-15 {
    background-image: url("../img/graphic design/eren.jpeg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-16 {
    background-image: url("../img/graphic design/deku.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.catalog-item-17 {
    background-image: url("../img/graphic design/rengoku.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-18 {
    background-image: url("../img/graphic design/eren.jpeg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-19 {
    background-image: url("../img/graphic design/deku.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.catalog-item-20 {
    background-image: url("../img/graphic design/rengoku.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-21 {
    background-image: url("../img/graphic design/eren.jpeg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-22 {
    background-image: url("../img/graphic design/deku.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.catalog-item-23 {
    background-image: url("../img/graphic design/rengoku.jpg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}
.catalog-item-24 {
    background-image: url("../img/graphic design/eren.jpeg");
    width: 285px;
    height: 211px;
    position: relative;
    background-size: cover;
}

.cover-table {
    border-top: 2px solid #18CFAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EDEF;
    width: 285px;
    height: 211px;
    position: absolute;
    visibility: hidden;
}

.hide{
    display: none;
}

.unvisible{
    display: none;
}

.catalog-item:hover .cover-table {
    visibility: visible;
}

.activeFilter{
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

#loadmore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #18CFAB;
    border: none;
    margin-bottom: 99px;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.news-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 86px;
}

.news-list-items{
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.news-list-item-1{
    background-image: url("../img/new-1.png");
    width: 263px;
    height: 208px;
    position: relative;
}
.news-list-item-2{
    background-image: url("../img/new-2.png");
    width: 263px;
    height: 208px;
    position: relative;
}
.news-list-item-3{
    background-image: url("../img/new-3.png");
    width: 263px;
    height: 208px;
    position: relative;
}
.news-list-item-4{
    background-image: url("../img/new-4.png");
    width: 263px;
    height: 208px;
    position: relative;
}

.list-item-date{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 70px;
    padding-top: 10px;
    background-color: #203E38;
}
.list-item-date-text{
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.news-list-name{
    padding-left: 15px;
}

.news-list-name-text-1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #717171;
}

.news-list-name-text-2{
    font-size: 14px;
    color: #777777;
}

.news-list-items:hover .list-item-date{
    background-color: #18CFAB;
}
.news-list-items:hover .news-list-name-text-1{
    color: #18CFAB;
}

.block-staff-bg{
    background-image: url("../img/Sections background/section-3.jpg");
    background-position: center;
    width: 100%;
    height: 900px;
    margin-bottom: 13px;
}

.block-staff-main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-staff-text{
    margin-top: 98px;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
}

.block-staff-commas{
    margin-bottom: 66px;
}

.block-staff-catalog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-staff-catalog-employers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 51px;
}
.block-staff-catalog-roulette{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 483px;
}
.employee-photo{
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
}
.btn-arrow{
    border: 1px solid #BBBBBB;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-arrow:hover{
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.employee-description{
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
    margin-bottom: 37px;
}
.employee-name{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 25px;
}
.employee-job{
    font-size: 13px;
    color: #BBBBBB;
    margin-bottom: 38px;
}
.employee-bigPhoto{
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 0.2);
}
.cover-photo{
    width: 143px;
    height: 143px;
    object-fit: cover;
}
.employee-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upContent {
    margin-bottom: 10px;
}

.block-staff-catalog-employers .employee-info {
    display: none;
}

.block-staff-catalog-employers .employee-info.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-block{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22353F;
}

.footer-block-text{
    margin-bottom: 48px;
    margin-top: 48px;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-block-text-ham{
    color: #18CFAB;
}