
body {
    font-family: sans-serif;
}

.container  {
    width: 1280px;
    margin: 0 auto;
}
.colortext {
    color: black;
}
.colortext2 {
    color: deepskyblue;
}
.navigation {
    text-decoration: none;
}
.navigation-logo {
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
    font-family: Roboto, sans-serif;

}

.navigation-title {
    margin-bottom: 38px;
}

.navigation-menu {
    display: flex;
    width: 1280px;
    text-decoration: none;
    background: #35444F;


}
.navigation-menu-items {
    list-style-type: none;
    text-decoration: none;
    color: white;


}
.navigation-menu-item {
    display: inline-block;
    padding: 25px 32px 20px 32px;
    margin-right: 25px;
    border-left: 1px solid #bbb;
    font-size: 24px;
    line-height: 28px;
    font-family: Roboto, sans-serif;
}
.text {

}

.text-blocks {
    display: flex;
    margin-top: 50px;
}

.text-block1 {
    display: flex;
    width: 344px;
    height: 440px;
    border: 1px solid #000000;
    margin-right: 52px;

}
.text-block1-menu {

}

.text-block1-menu-item {
    padding: 25px 140px 25px 45px;
    font-size: 27px;
    line-height: 27px;
    font-family: Roboto, sans-serif;
}

.text-block2 {

}

.text-block2-image {
    border: 1px solid #000000;
    display: flex;
}
.img {
    padding: 75px 268px 73px 297px;

}

.text-block-paragraphe1 {
    margin-top: 37px;
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
}
.text-block-paragraphe2 {
    font-size: 18px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
}

.hero {
    background: rgba(99, 105, 110, 0.48); ;
}
.hero-menu {

}

.hero-menu-down {
    display: flex;
    margin-top: 51px;
}

.hero-menu-down-items {

}
.hero-menu-down-item {
    display: inline-block;
    padding: 25px 25px 20px 25px;
    font-size: 24px;
    line-height: 28px;
    font-family: Roboto, sans-serif;
}

.hero-copyright {
    display: flex;
    font-size: 28px;
    line-height: 28px;
    font-family: Roboto, sans-serif;
    align-items: center;
    margin-left: 82px;
}


