* {
    /*m0+p0*/
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container  {
    width: 1170px;
    margin: 0 auto;
}

.hero {
    /*background-image: url(../img/hero-bg.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background: url("../img/hero-bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 530px;
    padding-bottom: 150px;
}

.hero-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: 15px 0 20px;
}

.hero-slogan {
    width: fit-content;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    padding-right: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(0,0,0,0.4);
}

.hero-slogan-accent {
    display: inline-block;
    padding: 40px 25px 40px 30px;
    margin-right: 25px;
    border-right: 1px solid #F48E0B;
}

.text-block {
    text-align: center;
}
.text-block-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 30px;
}
.text-block-desc {
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
    margin-bottom: 45px;
}
.text-block-line {
    width: 60px;
    margin: 0 auto;
    border-top: 7px solid #F48E0B;
}
.text-block-img {
    width: 280px;
    margin-top: 55px;
}

.achievements {
    padding: 70px 0 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    border-bottom: 3px solid #F1B128;
}

.navigation-company {
    font-size: 28px;
    font-weight: bold;
    color: #F1B128;
    vertical-align: top;
}

.navigation-menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation-menu-item {
}

.navigation-menu-item-first {
    margin-left: 0;
}

.navigation-menu-link {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #3d3d3d;
}

.portfolio {
    display: flex;
    justify-content: space-between;
}

.portfolio-types {
    width: calc(50% - 15px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-type {
    box-sizing: border-box;
    width: calc(50% - 15px);
    padding: 95px 15px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
}

.consulting-bg {
    background-image: url('../img/portfolio-consulting.jpg');
}

.photoshop-bg {
    background-image: url('../img/portfolio-photoshop.jpg');
}

.web-bg {
    background-image: url('../img/portfolio-web-design.jpg');
}

.advertising-bg {
    background-image: url('../img/portfolio-advertising.jpg');
}

.portfolio-type-title {
    width: 117px;
    padding: 15px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #333;
}

.portfolio-description {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-title {

}

.portfolio-text-wrapper > p{
    margin: 15px 0;
}

.portfolio-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}

.portfolio-btn {
    align-self: flex-start;
}


.blog {
    height: 850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
}

.blog-card {
    /*width: 370px;*/
    width: calc((100% / 3) - 20px);
    border-bottom: 6px solid #333333;
}

.blog-card-img {
    width: 100%;
    margin-bottom: 10px;
}

.blog-card-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;
}

.blog-card-icon {
    width: 12px;
    padding: 12px;
    background-color: #333333;
    margin-right: 10px;
}

.blog-card-text {
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0;
    color: #505050;
}

.blog-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 4px solid #C1C1C1;
}

.blog-card-info-text {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color: #828282;
}

.blog-card-info-text {
    text-decoration: none;
}








.text-yellow {
    color: #F48E0B;
}
