.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    text-align:center;
    word-spacing: 72px;
    margin-bottom: 26px;
    margin-top: 26px;
}

.link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: red;
}

.navigation-item {
    display:inline-block;
    list-style-type: none;
}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align:center;
    margin-top: 49px;
    margin-bottom: 38px;
}

.main-text {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
}

.button {
    margin-top: 38px;
    margin-bottom: 82px;
    padding: 18px 43px 18px 43px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background-color: red;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
}

.button-side {
    text-align: center;
}

.footer {
    text-align: end;
    margin-right: 105px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}