.main {

  &__container{
    margin-bottom: 69px;
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width){
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  &__content-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $basic-text-color;
    margin-bottom: 24px;
  }
  &__posts-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width){
      display: flex;
    }
  }
  &__post-last{
    @media screen and (max-width: $mobile-small){
      display: none;
    }
  }
  &__post{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 585px;
    min-width: 262px;
    width: 48%;
    @media screen and (min-width: $tablet-width) and (max-width: $desktop-width){
      width: 100%;
    }
    @media screen and (max-width: $tablet-width){
      display: block;
      width: 100%;
    }
  }
  &__post-photo{
    margin-right: 21px;
  }
  &__post-block-info{
    align-self: flex-start;
  }
  &__post-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $basic-text-color;
  }
  &__post-info{
    font-size: 12px;
    line-height: 20px;
    color: #7C7C7C;
  }
  &__post-text{
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    @media screen and (max-width: $mobile-small){
      display: none;
    }
  }
}

