@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-block {
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-logo {
    margin: 22px 27px 22px 27px;
    vertical-align: middle;
}

.header-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    vertical-align: middle;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 722px;

}

.header-list-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.header-list-link {
    color: #FFFFFF;
}

.header-search {
    background-color: #000000;
    padding: 26px;
}

.header-bg {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/header-bg.jpeg");
    background-position: center;
    width: 100%;
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.header-main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}

.header-buttons-block {
    margin-top: 44px;
    margin-bottom: 74px;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    min-width: 170px;
    min-height: 55px;
    margin-right: 20px;
    padding: 16px;
}

.button-sub {
    background: #89CA62;
}

.button-art{
    background: #14B9D5;
}

.posts {
    background-color: #F2F2F2;;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    margin-bottom: 52px;
}

/*.block-posts-list {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    !*align-items: stretch;*!*/
/*    padding-bottom: 72px;*/
/*}*/

.block-posts-link {

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    background-color:  #FFFFFF;
    width: 370px;
    padding: 20px 15px;
    /*margin-bottom: 30px;*/
}

/*.block-posts-item {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    margin-left: 30px;*/
/*    margin-bottom: 30px;*/
/*}*/


.masonry {
    display: flex;
    flex-flow: column wrap;
    margin-left: -8px;
    width: 100%;
    max-height: 880px;
    margin-bottom: 74px;
}

.masonry-brick {
    margin-bottom: 31px;
}

/*.masonry-brick:nth-child(4n+1) {*/
/*    width: 250px;*/
/*}*/
/*.masonry-brick:nth-child(4n+2) {*/
/*    width: 325px;*/
/*}*/
/*.masonry-brick:nth-child(4n+3) {*/
/*    width: 180px;*/
/*}*/
/*.masonry-brick:nth-child(4n+4) {*/
/*    width: 380px;*/
/*}*/

.clients {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/parallax-bg.jpeg");
    background-position: center;
    width: 100%;
    height: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 87px;
}

.line {
    width: 60px;
    border-bottom: solid 3px #18B4CF;
    margin-bottom: 106px;
}

.clients-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-list{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 77px;
}

.news-gallery-item {
    display: grid;
    grid-template-columns: 1fr 35px 1fr 60px 1fr 35px 1fr;
    grid-template-rows: 259px 418px 418px 259px;
    grid-row-gap: 40px;
    grid-template-areas:
            "one one one one one . two"
            "three three three . four four four"
            "five five five . six six six"
            "seven . eight eight eight eight eight";
}

.flex {
    display: flex;
}

.block-post-info {
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    padding: 12px 13px 3px 13px;
    width: 554px;
}

.padding-top {
    padding-top: 29px;
}

.item1 {
    grid-area: one;
}

.item2 {
    grid-area: two;
}

.item3 {
    grid-area: three;
}

.item4 {
    grid-area: four;
}

.item5 {
    grid-area: five;
}

.item6 {
    grid-area: six;
}

.item7 {
    grid-area: seven;
}

.item8 {
    grid-area: eight;
}

.block-posts-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    margin-bottom: 15px;
}

.post-title {
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    text-align: center;
    padding: 13px 27px;
}

.block-posts-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}



.footer-bg {
    background: #000000;
    width: 100%;
}

.footer-info {
    display: flex;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 35px;
    justify-content: space-between;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-align: right;
    color: #FFFFFF;
}