.menu {
  margin: 0 auto;
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    list-style: none;
    margin: 50px 0;
  }
}

.item {
  font-weight: bold;
  line-height: 20px;
  font-size: 35px;
}

.item > a {
  color: #61dafb;
  text-decoration: none;
}
