body {

}
.container  {
    width: 1145px;
    margin: 0 auto;
}
.hero {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    text-decoration: none;
}
.hero-menu {
    width: 620px;
    margin-left: 660px;
    display: flex;
    font-size: 18px;
    line-height: 18px;
    justify-content: space-between;
    list-style: none;
    font-family: Montserrat, sans-serif;
}
.hero-menu-item >a {
    text-decoration: none;
}
.blog-photo {
    width: 100%;
}

.blog {
    font-family: Montserrat, sans-serif;
}

.blog-card {
    margin: 48px 68px 150px 48px;
    text-align: center;
}

.blog-card-subtitle {
    padding-bottom: 38px;
}
.blog-card-text {
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    margin-bottom: 28px;
}
.blog-card-button {
    padding: 18px 43px 18px 43px;
    background: #FF0000;
    color: #FFFFFF;
    margin-top: 66px;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
}

.text-red {
    color: #FF0000;
}

