@import "variables";
@import "mixins";
@import "reset";
@import "pages/index.scss";
@import "components/index.scss";
body{
    color: $basic-text-color;
    font-family: 'Roboto', sans-serif;

}
.container{
   max-width:1200px;
   margin: 0 auto;
}

