.background {
    background-image: url("../img/background.png");
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 54px;
}

.header-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    color: #FFFFFF;
    margin: 18px 79px;
}

.hover-green:hover {
    color: green;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu-icon {
    padding-right: 27px;
}

.header-menu path:hover {
    fill: green;
}

.border {
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 27px;
}

.header-menu-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;
    margin-right: 79px;
}

.header-menu-link {
    color: #FFFFFF;
}

.form-box {
    margin: 0 auto;
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 38px 60px;
    position: relative;
}

.header-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.singup {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #434343;
}

.square {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
}

.login {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #3CB878;
}

.hover-line:hover {
    text-decoration: underline;
}

.button-block-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.btn {
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    border-radius: 5px;
}

.button-facebook {
    background-color: #305DB8;
    padding: 12px 22px 12px 16px;
}

.button-google {
    background-color: #DF4A32;
    padding: 15px 27px 14px 12px;
}

.border-f {
    background-color: #0A162F;
    width: 1px;
    height: 28px;
    margin-right: 18px;
    margin-left: 18px;
    opacity: 0.1;
}

.border-g{
    background-color: #2B0D09;;
    width: 1px;
    height: 28px;
    margin-right: 30px;
    margin-left: 7px;
    opacity: 0.1;
}

.button-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
}

.form-legend {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #848484;
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 12px;
    overflow: hidden;
    width: 320px;
}

.form-legend:before,
.form-legend:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;;
    border: solid #FFF;
    border-width: 0 4px;
}

.form-legend:before {
    margin-left: -100%;
}
.form-legend:after {
    margin-right: -100%;
}

.form-input {
    width: 87%;
    padding: 15px 20px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form-input:focus {
    background-color: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;
}

.form-input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.form-input:focus::placeholder {

    color: #434343;
}

.checkbox-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #434343;
}

.checkbox-text-color {
    color: green;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-bottom: 38px;
    margin-top: 20px;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: white;
    margin-right: 8px;
}

.form-checkbox .default-checkbox {
    position: absolute;
    opacity: 0;
}

.form-checkbox {
    display: flex;
    position: relative;
}

.form-checkbox .default-checkbox:checked + .custom-checkbox {
    background-image: url('../img/checkbox-checked.svg');
    background-size: contain;
    background-position: center;
}